### Xcode ###

**/xcuserdata/

# Xcode 8 and earlier – anywhere
**/*.xcscmblueprint
**/*.xccheckout

### Xcode Patch ###

# Keep only the essential project files
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# Coverage files – anywhere
**/*.gcno

# Workspace settings – anywhere under xcshareddata
**/xcshareddata/WorkspaceSettings.xcsettings

# macOS Finder junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes